<{if $modules_breadcrumb}><{$modules_breadcrumb}><{/if}>
<{if $imbuilding_module_title}><h1><{$imbuilding_module_title}></h1><{/if}>
<{if $imbuilding_module_info}><p><{$imbuilding_module_info}></p><{/if}>
<{if $imbuilding_module_table}><{$imbuilding_module_table}><{/if}>
<{if $addmodule}>
<h1><{$imbuilding_form_header}></h1>
<p><{$imbuilding_form_header_info}></p>
<{includeq file='db:system_common_form.html' form=$addmodule}>
<{/if}>
<{if $imbuilding_module_singleview}><{$imbuilding_module_singleview}><{/if}>
<{if $imbuilding_object_table}>
<h1><{$smarty.const._AM_IMBUILDING_OBJECTS_OF_MODULE}></h1>
<{$imbuilding_object_table}>
<{/if}>
<{if $imbuilding_new_module}>
<div>
	<{$imbuilding_module_created_info}><br /><br />
	<{$smarty.const._AM_IMBUILDING_MODULE_GENERATED_INFO}><br />
	<a href="<{$imbuilding_new_module_url}>"><{$smarty.const._AM_IMBUILDING_MODULE_CLICK_TO_DOWNLOAD}></a><br /><br />
	<a href="#" onclick ="jQuery('div.log-detail').toggle(0);"><{$smarty.const._AM_IMBUILDING_SHOW_LOG}></a>
	<div class="log-detail" style="display: none"><{$imbuilding_new_module_log}></div>
</div>
<{/if}>